%br
%br
%br
.row
  .col-3
  .col-7
    .card
      .card-header
        %h4 Booking #{@booking_request.status.titleize}
      .card-body
        - if false and @booking_request.status == 'confirmed'
          %b.text-success.demo-label
            Congratulations! You booking has been confirmed.
            Enjoy your ride!
        - elsif false and @booking_request.status == 'cancelled'
          .text-danger Booking has been cancelled.
        - else 
          = button_to 'Reload', '', class: 'btn btn-primary'
-#%hr
%br
%br
-#.card 
  .card-header 
    %h4 What Happens Here?
  .card-body
    %ul
      %li Buisness API call to fetch data and display
    .row 
      .col-2 
      .col= image_tag "business_api_call", width: '80%'
